APP_NAME=dev-payment-api
APP_ENV=dev
APP_VERSION=0.2.0

DB_DRIVER=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=dev_payment
DB_USERNAME=your_database_user
DB_PASSWORD=your_database_password
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

REDIS_HOST=redis
REDIS_AUTH=
REDIS_PORT=6379
REDIS_DB=0